<div class = "container" style="margin-top: 200px;">
    <div class = "citem">
        <h2 class="text-left">Legal Notice
            <br>
            <br>
        </h2>
        <p class="text-left">
            Martin Feidt <br>
            Equation Stories <br>
            c/o Block Services <br>
            Stuttgarter Str. 106 <br>
            70736 Fellbach <br>
            Telefon: 01522 - 1481360 <br>
            Email: info 'At' equationstories.com <br>
            <br>
            </p>
    </div>
</div>