<div class="container" style="margin-top: 100px;">
<div class="citem">
    <h1>Equation Stories</h1>
    
    <p>Hi, we are a scientific software development studio in the Stuttgart area, building an 
      <a class="stda" href="http://www.github.com/equationstories">
      open-source ecosystem</a> &#129304
      for scientific developers and startups. 
    </p>
    <p>Besides that, we offer: 

      <ul>
          <li><b>Custom scientific software development</b></li>
              We build alls kinds of science-oriented applications,
              from simulation software to SaaS products, 
              preferably in Python
              <br><br>
          <li><b>Courses on software engineering and architecture</b></li>
              We work continuously on a pragmatic software development process
              to equip scientific developers with the skills of software
              engineers and architects

      </ul>
    </p>
    <br><br>
  <p><b>Get in touch with us</b></p>
    <p>You are working on an &#128293 interesting problem &#128293 and think we can help? Send your request to
      <a >hello@equationstories.com </a></p>

    <p style="margin-top: 75px;">We share openly our work on software development and technology explorations. 
      Check out our <a class="stda" href="#lab">Lab</a>.</p>
</div>
</div>